footer.footer
  div.footer__section1
    div.footer__wrap
      div.footer__espacep
        span.footer__espacep__logo Logo d’espace P…
        span.footer__espacep__title Espace P…
        p.footer__espacep__description Espace P… est une A.S.B.L ayant pour but de soutenir, défendre et accompagner les travailleurs du sexe, que ce soit dans la vie ou dans leur métier.
      div.footer__informations
        span.footer__informations__title Informations
        a.footer__informations__link(href="#" title="Aller vers la page…") Je suis un travailleur du sexe
        a.footer__informations__link(href="#" title="Aller vers la page…") Je suis un étudiant
        a.footer__informations__link(href="#" title="Aller vers la page…") Je suis un sympathisant
        a.footer__informations__link(href="#" title="Aller vers la page…") Je suis un potentiel client
      div.footer__contacts
        span.footer__contacts__title Contacts
        div.footer__contacts__wrap
          a.footer__contacts__link(href="#" title="Aller sur la page") Bruxelles
          a.footer__contacts__link(href="#" title="Aller sur la page") Liège
          a.footer__contacts__link(href="#" title="Aller sur la page") Namur
          a.footer__contacts__link(href="#" title="Aller sur la page") Mons
          a.footer__contacts__link(href="#" title="Aller sur la page") Arlon
          a.footer__contacts__link(href="#" title="Aller sur la page") Charleroi
      div.footer__navigation
        span.footer__navigation__title Navigation
        a.footer__navigation__link(href="#" title="Aller vers la page…") Achetez notre magazine
        a.footer__navigation__link(href="#" title="Aller vers la page…") Nos partenaires
        a.footer__navigation__link(href="#" title="Aller vers la page…") Notre manifeste
  div.subfooter
    div.subfooter__wrap
      span.subfooter__copyright © Espace P… - Tous droits réservés.
      a.subfooter__webdesigner(href="http://letecheur.me" rel="ext" title="Vers le site du webdesigner")
        | Made with
        span.subfooter__webdesigner__heart &nbsp;❤&nbsp;
        | by Jimmy Letecheur
      div.subfooter__espaceplegal
        a.subfooter__espaceplegal__rapport(href="#" title="Vers notre rapport d’activité") Notre rapport d’activité
        a.subfooter__espaceplegal__statut(href="#" title="Vers notre statut légal") Notre statut
        a.subfooter__espaceplegal__facebook(href="#" title="Vers notre page facebook")
          span.subfooter__espaceplegal__facebook__text Notre facebook