footer.footer
  div.footer__espacep
    span.footer__espacep__title Espace P…
    p.footer__espacep__description Espace P… est une A.S.B.L ayant pour but de soutenir, défendre et accompagner les travailleurs du sexe, que ce soit dans la vie ou dans leur métier.
  div.footer__informations
    span.footer__informations__title Informations
    a.footer__informations__link(href="#" title="Aller vers la page…") Je suis un travailleur du sexe
    a.footer__informations__link(href="#" title="Aller vers la page…") Je suis un étudiant
    a.footer__informations__link(href="#" title="Aller vers la page…") Je suis un sympathisant
    a.footer__informations__link(href="#" title="Aller vers la page…") Je suis un potentiel client
  div.footer__contacts
    span.footer__contacts__title Contacts
    a.footer__contacts__link(href="#" title="Aller sur la page") Bruxelles
    a.footer__contacts__link(href="#" title="Aller sur la page") Liège
    a.footer__contacts__link(href="#" title="Aller sur la page") Namur
    a.footer__contacts__link(href="#" title="Aller sur la page") Mons
    a.footer__contacts__link(href="#" title="Aller sur la page") Arlon
    a.footer__contacts__link(href="#" title="Aller sur la page") Charleroi
  div.footer__navigation
    span.footer__naviation__title Navigation
    a.footer__navigation__link(href="#" title="Aller vers la page…") Achetez notre magazine
    a.footer__navigation__link(href="#" title="Aller vers la page…") Nos partenaires
    a.footer__navigation__link(href="#" title="Aller vers la page…") Notre manifeste
