visuallyhidden = @block{
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
}

/*
button-style = @block{
  display: inline-block;
  background-color: #90a6b1
  color: #FFF;
  padding: 0.751em 2.02em;
  border-radius: 3px;
  transition: background-color 0.3s ease-out;
}

button-style-hover = @block{
  background-color: color-hover;
  transition: background-color 0.3s ease-out;
  color: color-white;
}*/
