html
    font-size 62.5%
    font-family opensansfont
    height 100%
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing antialiased
    -moz-osx-font-smoothing: grayscale;
    color color-black
    background-color color-background

a
    text-decoration none
    color inherit




