/* components - contact.styl */

.contact-top-wrap
.contact-bottom-wrap
  max-width 114em
  margin: 0 auto
  padding: 0 3em

.contact-list
  margin 10em 0 10em
  &__title
    {visuallyhidden}
  &__wrap
    display: flex
    justify-content space-between
    margin-bottom 4em
  &__item
    position: relative
    display: inline-block
    width 292px
    height 78px
    font-family: montserratfont
    text-transform: uppercase
    letter-spacing .12px
    color color-grey-v2
    font-size: 2em
    background-color color-white
    padding 1em
    text-align: center
    line-height: 39px;
    white-space nowrap
    border 1px solid color-white
    transition border .3s ease
    & span
      display: block
      text-align: center
    &:hover
    &:focus
      border 1px solid color-pink
      transition border .3s ease
    &--active
      background-color color-pink
      color color-white
      border 1px solid color-pink

/************************************\
  ÉQUIPE DE LIEGE
\************************************/

.team
  &__title
    display: flex;
    justify-content: left;
    overflow: hidden;
    font-family: montserratfont
    font-weight: bold
    font-size: 3.6em
    letter-spacing: 1px
    margin-bottom: 13rem

    &:after
      content: "\a0";
      height: 1px
      background-color: #979797
      width: 20%
      display: inline-block
      position: relative
      top: 19px
      padding-right: 0.418em
      margin-left: 0.418em
      -webkit-flex-grow: 1
      -ms-flex-grow: 1
      -webkit-box-flex: 1
      -ms-flex-positive: 1
      flex-grow: 1
  &__person__wrap
    margin-bottom 10em
  &__person__row
    display flex
    justify-content space-between
    margin-bottom 15em
    &:last-child
      margin-bottom 10em
  &__person
    &__figure
      background-color color-white
      max-width 32.3em
      position: relative
      padding 7.5em 3em 3em 3em
      min-height: 23.6em
      text-align: center
    &__img
      display block
      top -60px
      position: absolute
      margin-left: auto
      margin-right: auto
      left: 0
      right: 0
    &__title
      font-family: montserratfont
      text-transform: uppercase
      font-size: 1.6em
      color color-grey-v2
      letter-spacing 0.5px
      margin-bottom: 2em
    &__paragraph
      color color-grey-text
      font-size: 1.6em
      letter-spacing: 0.1px
      line-height: 1.5em


/************************************\
  MAPS
\************************************/
.maps
  position: relative

.maps__img
  height 32em
  margin-bottom 10em
  background url("../images/mapliege@2x.jpg") no-repeat center center
  background-size cover
  overflow hidden

.maps__button
  display: inline-block
  opacity 0
  font-size: 1.6em
  color color-black
  padding 1em 1.5em
  background rgba(255,255,255,0.9)
  float right
  position: relative
  top 10px
  right 10px
  transition opacity .3s ease
  cursor pointer
  &:hover
  &:focus
    background color-pink
    color color-white

.maps
  position: relative
  display block
  margin-bottom 10em
  &:hover .maps__button
  &:focus .maps__button
    opacity 1
    transition opacity .3s ease


/************************************\
  DETAILS
\************************************/

.details
  margin-bottom 15em
  &__wrap-global
    display flex
    justify-content space-between
  &__title
    font-family: montserratfont
    font-weight: bold
    font-size: 3.6em
    letter-spacing: 1px
    margin-bottom 1.5em
    line-height:1.4em
  &__paragraph
    color color-grey-text
    max-width 37.5rem
    font-size: 1.6em
    letter-spacing: 0.4px
    line-height: 1.875em
    margin-bottom 3.1rem
  &__subtitle
    display: block
    color color-grey-text
    text-transform: uppercase
    font-family: montserratfont
    font-size: 1.6em
    letter-spacing 1.51px
  &__subtext
    display: block
    font-weight: bold
    font-size: 1.6em
    letter-spacing .44px
    line-height: 1.875em
    margin-bottom: 3.1rem

/************************************\
  FORMULAIRE
\************************************/
.details__wrap-right
  width 56em
.form
  max-width 56em
  overflow hidden
  margin-top: 1.2em
  & textarea
    appearance: none;
    font-size: 1.6em
    resize none
    width 100%
    min-height 18rem
    outline none
    padding 11px 20px
    margin-bottom: 2rem
    &::placeholder
      color #6C6C6C
      letter-spacing .1px
  &__name
  &__email
  &__subject
    position: relative
    min-width 27.2em
    margin-bottom 2em
    & label
      position: absolute
      color transparent
      &:before
        content ""
        width 23px
        height 20px
        display inline-block
        background-repeat no-repeat
        position relative
        left 20px
    & input
      width 100%
      font-size: 1.6em
      letter-spacing .1px
      padding 11px 20px 11px 50px
      border 1px solid #767677
      &::placeholder
        color #6C6C6C
        letter-spacing .1px
  &__name__label:before
    {formname}
    top 11px
  &__email__label:before
    {formemail}
    top 14px
  &__subject__label:before
    {formsujet}
    top 12px

.form__message__label
  {visuallyhidden}

.form__top
  display flex
  justify-content space-between

.form__submit
  float right
  font-size: 1.6em
  {button-style}
  cursor pointer
  &:hover
  &:focus
    {button-style-hover}