/* components - contact.styl */

.contact-top-wrap
  max-width 114em
  margin: 0 auto
  padding: 0 3em

.contact-list
  margin-top 10em
  &__title
    {visuallyhidden}
  &__wrap
    display: flex
    justify-content space-between
    margin-bottom 4em
  &__item
    position: relative
    display: inline-block
    width 292px
    height 78px
    font-family: montserratfont
    text-transform: uppercase
    letter-spacing .12px
    color color-grey-v2
    font-size: 2em
    background-color color-white
    padding 1em
    text-align: center
    line-height: 39px;
    white-space nowrap
    border 1px solid color-white
    transition border .3s ease
    & span
      display: block
      text-align: center
    &:hover
    &:focus
      border 1px solid color-pink
      transition border .3s ease
    &--active
      background-color color-pink
      color color-white
      border 1px solid color-pink