.wpcf7-form span.wpcf7-not-valid-tip
  font-size: 1.4em
  margin-top: 8px
.select
  .wpcf7-not-valid-tip
    position relative
    top -20px
.form__message
  .wpcf7-not-valid-tip
    position: relative
    top -20px

.wpcf7-form div.wpcf7-validation-errors
	border: none
	font-size: 1.4em
	line-height: 1.6em
	margin-top: 2.5em

.wpcf7-form div.wpcf7-response-output
	padding: 0
	margin 2.5em 0 0 0