.headintro
  min-height 48em
  padding 9em 3em 3em 3em
  background #D85E72 no-repeat center center;
  background-size cover
  &__title
    display: block
    font-family montserratfont
    color color-white
    font-weight: bold
    font-size: 4.5em
    letter-spacing .75px
    text-align: center
    line-height: 1.4em
  & p
    margin: 30px auto 0 auto
    font-weight: 100
    font-size: 2.6em
    color: color-white
    letter-spacing: 0.21px;
    line-height: 1.5em
    max-width 720px
    text-align: center

@media screen and ( max-width: 629px )
  .headintro
    min-height 35em
    padding 9em 3em 2em 2em
    &__title
      font-size: 3em
    & p
      font-size: 2em

@media screen and ( max-width: 399px )
  .headintro
    min-height 35em
    padding 9em 3em 2em 2em
    &__title
      font-size: 2em
    & p
      font-size: 1.6em
