// Components - home.styl

.header
  background-image url("../images/header_home.jpg")
  background-color #D85E72
  background-repeat no-repeat
  background-size cover
  background-position center center
  &__title
    margin-bottom .15em
    font-family montserratfont
    color color-white
    font-size: 5em;
    letter-spacing 6px
    text-transform: uppercase
  &__subtitle
    font-size: 2.6em
    color color-white
    letter-spacing .5px
    font-weight: 100;
    line-height 1.4em
  &__wrap-title
    width 100%
    text-align: center
    position: absolute
    top 28em
    padding 0 3em

.submenu
  {visuallyhidden}
