// Components - home.styl

.header
  background-image url("../images/header_home.jpg")
  background-color #D85E72
  background-repeat no-repeat
  background-size cover
  background-position center center
  &__title
    margin-bottom .15em
    font-family montserratfont
    color color-white
    font-size: 5em;
    letter-spacing 6px
    text-transform: uppercase
  &__subtitle
    font-size: 2.6em
    color color-white
    letter-spacing .5px
    font-weight: 100;
    line-height 1.4em
  &__wrap-title
    width 100%
    text-align: center
    position: absolute
    top 28em
    padding 0 3em

.submenu
  display flex
  position: relative
  max-width 114em
  position absolute
  bottom -73px
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  box-shadow: 0px 1px 2px 0px rgba(146,146,146,0.5);

  &__title
    {visuallyhidden}
  &__link
    position relative
    display inline-block
    background-color color-white
    padding 3.1em 1em 3.1em 2.8em
    transition all .1s ease
    transition-property height, background
    &:before
      content ""
      position absolute
      display inline-block
      height 2px
      width 100%
      background-color #939CAC
      top 0
      left 0
      z-index 2
    &:after
      content ""
      position absolute
      display inline-block
      height 146px
      width 1px
      background-color #F0ECED
      top 0
      right 100%
      z-index 1
    &:hover
    &:focus
      background-color #F8F8F8
      transition background .3s ease
    &:hover:before
      height 3px
      transition height .1s ease
      background-color color-pink
  &__text
    display inline-block
    font-size: 1.9em;
    font-family montserratfont
    letter-spacing .6px
    line-height 1.4em
    max-width 145px
    vertical-align top
    margin .8em 0em 0em 1em
  &__sublink
    position absolute
    left 110px
    top 85px
    font-size: 1.2em
    max-width 175px
    line-height: 1.5
    &:hover
    &:focus
      text-decoration underline

.submenu__link--sexworker
  padding 3.1em 1em 3.1em 1.3em
  &:after
    display none
.submenu__text--sexworker
  font-size: 1.7em;
  max-width 166px
  position relative
  top: -10px

/************************************\
  ARTICLE
\************************************/

.wrap-top
  max-width 114em
  margin 0 auto

.last-article
  margin-top 17em
  &__title
    {visuallyhidden}
  &__link
    display block

.article
  display flex
  margin-bottom 10em
  min-height 32em
  overflow hidden
  &__wrap-text
    max-width 55.7em
    padding 5.5em 4.5em
    background-color color-white
    z-index 10
  &__category
    display block
    margin-bottom 1.250em // 20px
    color color-pink
    font-weight: bold
    letter-spacing 1px
    font-size: 1.6em
    text-transform: uppercase
  &__title
    font-size: 3.6em
    font-family montserratfont
    font-weight: bold
    letter-spacing .8px
    line-height 1.61em
    max-width 12.776em //460px
    margin-bottom 0.694em // 25px
  &__link
    font-size: 1.6em
    color #4B4B4B
    letter-spacing 0.13px
    &:after
      content ""
      display inline-block
      width 1.063em // 17px
      height 0.750em // 12px
      position relative
      top 0.125em // 2px
      {left-arrow}
      margin-left 0.438em // 7px
      transition margin-left .3s ease
  &__img
    background-image url("../images/imgarticle.jpg")
    background-repeat no-repeat
    background-position center center
    background-size cover
    display inline-block
    width 61.6em
    transform scale(1);
    transition transform .3s ease

.last-article__link:hover
.last-article__link:focus
  .article__link:after
    margin-left 15px
    transition margin-left .3s ease
  .article__img
    transform scale(1.06);
    transition transform .3s ease

/************************************\
  FACEBOOK
\************************************/

.last-facebook
  &__title-container
    position relative
  &__title
    font-family: montserratfont
    font-weight: bold;
    font-size: 3.6em
    margin-bottom 77px
  &__follow
    position: relative
    background color-white
    padding 4.5em 3.5em 3.5em 3.5em
    max-width 35.9em
    text-align: center
    &__title
      font-family montserratfont
      font-weight: bold
      font-size: 2.6em
      letter-spacing 1.44px
      margin-bottom 0.538em // 14px
      &:before
        content ""
        height 65px
        width 63px
        display inline-block
        {facebook-blue}
        position absolute
        top -35px
        margin-left auto
        margin-right auto
        left 0
        right 0
  &__text
    font-size: 1.6em
    color color-grey-text
    line-height 1.56em
    margin-bottom 1.438em // 23px
  &__button
    font-weight 100
    font-size: 2em
    color color-white
    display inline-block
    padding 0.400em 2.150em // 8px 43px
    border-radius 400px
    background-color color-pink
    transition background .3s ease
    &:hover
    &:focus
      background-color color-pink + 10%
      transition background .3s ease

  /************************************\
    DERNIERS COMMENTAIRES
  \************************************/
  .last-facebook__comment
    height 25.08em
    position: relative
    background-color color-white
    max-width 75.1em // 751px
    padding 1.7em 6em 4.8em 3.8em
    overflow hidden
    margin-bottom 15em
    &__title
      font-size: 1.6em
      font-weight: bold;
      letter-spacing 1.01px
      text-transform: uppercase
      color color-pink
      margin-bottom: .4em;
    &__date
      font-size: 1.6em
      font-weight: 100
      color color-grey-text
      display block
    &__text-container
      overflow hidden
      margin-top 1.5em
    &__img
      float left
      margin-right 2.7em
    &__text
      font-size: 1.6em;
      color color-grey-text
      line-height 1.70em
      margin-bottom 28px
    &__link
      font-weight: bold
      font-size: 1.6em
      letter-spacing: 0.13px
      position: absolute
      right 60px
      &:after
        content ""
        display inline-block
        width 17px // 17px
        height 12px // 12px
        position relative
        top 2px // 2px
        left 7px
        {left-arrow}
        transition left .3s ease
      &:hover:after
      &:focus:after
        left 12px
        transition left .3s ease
    &__facebook
      color #3B5998
      display inline-block

/************************************\
  CITATION HOME
\************************************/

.quote-home
  min-height 38em
  background color-pink url("../images/home_quote.jpg") no-repeat center center
  background-size cover
  padding 10em 3em 9em 3em
  margin-bottom: 15em
  &__quote
    font-weight: 100
    color #F5E9EA
    font-size: 3.6em
    letter-spacing .91px
    line-height 1.583em
    max-width 18.056em
    text-align center
    margin: 0 auto
    &:before
      margin 0 auto 0.667em auto // 24px
      content ""
      display block
      width 6.944em // 250px
      height 2px
      background-color color-white

/************************************\
  SECTION HOME BAS
\************************************/

.wrap-bottom
  max-width 114em
  margin 0 auto 15em auto
  display flex
  justify-content space-between
.home-mag
  padding 3.5em 5em 3.5em 5em
  background-color color-white
  max-width 75.1em
  &__title
    font-family: montserratfont
    font-weight bold
    letter-spacing 2px
    font-size: 3.6em
    margin-bottom 25px
    line-height 1.4em
  &__text
    font-size: 1.6em;
    color color-grey-text
    line-height 1.70em
    margin-bottom 32px
  &__button
    font-size 2em
    {button-style}
    &:hover
    &:focus
      {button-style-hover}

.home-manifeste
  padding 3.5em 5em 3.5em 5em
  background-color color-white
  max-width 36.1em
  text-align center
  &__title
    font-family: montserratfont
    font-weight bold
    letter-spacing 2px
    font-size: 3.6em
    margin-bottom 25px
    line-height 1.3em
  &__text
    font-size: 1.6em;
    color color-grey-text
    line-height 1.70em
    margin-bottom 17px
  &__button
    font-size 2em
    {button-style}
    &:hover
    &:focus
      {button-style-hover}