.myarticle
  .client-top-wrap
    margin-bottom: 10em
  .footer
    margin-top 15em

.myarticle
  &__content
    max-width 90em
    margin: 0 auto
  &__title
    margin-bottom 20px
    font-family montserratfont
    font-size: 3.6em
    font-weight bold
    letter-spacing .5px
    line-height 1.6em
    text-align: center
  &__category
    display: block
    margin: 0 auto 1em auto
    font-weight: bold
    font-size: 1.6em
    color color-pink
    letter-spacing .7px
    text-transform: uppercase
    text-align: center
  &__content-wrap
    max-width 70em
    margin: 0 auto
  &__intro
    margin-bottom 2em // 40px
    font-size: 2em
    text-align: center
    line-height: 1.7em
    font-style: italic
    color color-grey-v2
  &__subtitle
    display: block
    margin-bottom .750em // 15px
    margin-top 30px
    font-size: 2em;
    font-weight: bold
  &__paragraph
    margin-bottom 1.25em
    font-size: 1.8em
    line-height: 1.6em
  &__img
    margin-top 3em
    width 100%
    height: auto



