.partenaires-page .partenaires
  max-width 114em
  margin: 0 auto
  &__title
    {visuallyhidden}
  &__img
    float left
    margin-right 4em
.paretnaires__wrap
  overflow hidden
  margin-bottom 7em

.description
  &__wrap
    overflow hidden
    max-width 80%
    background-color color-white
    padding 2.8em 4em
  &__title
    display: block
    margin-bottom 1em
    font-family montserratfont
    font-size: 2em
    font-weight: bold
    letter-spacing 0.12px
    line-height 1.5em
  &__text
    font-size: 1.6em
    letter-spacing 0.11px
    line-height 1.5em
  &__link
    display: inline-block
    font-weight bold
    font-size: 1.6em;
    margin-top 1em
    float: right

