.search-page
  .search
    padding 0 1em
    &__title
      font-family Montserrat
      font-size: 3em
      font-weight: bold
      letter-spacing .7px
      margin-bottom 1em
      line-height: 1.4em
    &__query
      color color-pink
    &__link
      font-size: 2em
      letter-spacing .25px
      background #FFF
      padding 1em
      display: block
      border 1px solid color-white
      transition border .3s ease
      margin-bottom 1em
      &:hover
      &:focus
        border 1px solid color-pink
        transition border .3s ease
