.mag-wrap-top
  max-width 114em
  margin 0 auto
  padding 0 1em

.mag-content
  &__title
    font-family: montserratfont
    font-size: 3.6em
    letter-spacing: 4.32px
    text-transform: uppercase
    background #FFF
    text-align: center
    line-height: 1.4em
    margin-top 2.778em // 100px
    margin-bottom 2.778em // 100px
    padding 0.611em 0.833em 0.556em 0.833em // 22px 30px 20px 30px
  &__blockquote
    margin 0 auto
    font-size: 2em
    color color-grey-text
    line-height: 1.8em
    max-width 35em
    text-align center
    {quote}
    background-repeat no-repeat
    background-position center center
    min-height: 280px
    position relative
    padding 0 30px
    &__text
      padding-top 2em
  &__author
    position absolute
    bottom -40px
    right 0
    font-size: 16px;
    text-align: right
  &__profession
    position: relative
    display: block
    font-weight: bold
    text-align: right
    top -10px
  &__receivemoney
    margin-top 4.167em // 150px
    font-family: montserratfont
    font-size: 3.6em
    font-weight: bold
    text-align: center
    line-height: 1.5em
    &:before
    &:after
      content: ''
      display block
      height 5px
      width 30%
      background-color color-white
      margin 0.694em auto 0.694em auto // 25px
      padding 0 0.833em // 30px


/************************************\
  CHOISIR PLAN
\************************************/

.choose-plan
  &__title-main
    text-align: center
    font-weight: 100
    letter-spacing .25px
    font-size: 3em
    margin-top: 120px
    margin-bottom 45px
    &:after
      margin: 10px auto 0 auto
      content ''
      display block
      height 1px
      width 40px
      background-color color-black
  &__wrap
    max-width 61.5em
    margin 0 auto
    display flex
    justify-content space-between
    align-items: flex-end
    padding 0 3em
  &__title
    font-size: 2em
    letter-spacing 1px
    text-transform: uppercase
    & strong
      font-weight bold
  &__soutien
  &__normal
    position: relative
    background color-white
    text-align: center
    padding: 37px 15px 49px 15px
    min-width 26.2em
    margin-bottom 12em
  &__price
    margin-top 3em
    margin-bottom 40px
    &__euro
      font-size: 2em
      color color-pink
      vertical-align top
      position relative
      top 8px
      right 5px
    &__number
      font-weight 100
      color color-pink
      font-size: 6em
      letter-spacing 3px
  &__item
    font-weight: 100
    color color-grey-v2
    font-size: 1.6em
    margin-bottom 15px
  &__buy
    font-family: montserratfont
    font-size: 1.6em
    background-color color-white
    border 1px solid color-pink
    border-radius 100px
    padding 8px 26px
    letter-spacing .2px
    position absolute
    bottom 0
    margin-right auto
    margin-left auto
    right 0
    left 0
    bottom -16px
    max-width 154px
    transition all .3s ease
    transition-property background, color
    cursor pointer
    &:hover
    &:focus
      background-color color-pink
      color color-white
      transition all .3s ease
      transition-property background, color
  .infos-email
    position: relative
    background color-white
    max-width 55.6em
    padding 1.5em 3em
    margin: 0 auto
    margin-bottom 15em
    &:before
      content ""
      height 45px
      width 45px
      display inline-block
      {info-button}
      background-repeat no-repeat
      position: absolute
      top -25px
    &__text
      font-size: 1.6em
      font-weight 100
      line-height: 1.8em
      padding-left 4em
    &__email
      font-weight normal


/************************************\
  PAYEMENT
\************************************/
.payement
  &__title-main
    {visuallyhidden}

.clickplan
  display none

.payementnormal--clicked
.payementsoutien--clicked
  .clickplan
    display block
    background color-white
    padding 3em 3em
    text-align: center
    max-width 55.5em
    position: relative
    &__desire
      font-weight: 100
      font-size: 1.6em
      display block
      margin-bottom 2em
    &__title
      display: block
      font-size: 3em
      text-transform: uppercase
      letter-spacing 1.5px
      margin-bottom 3rem
      & strong
        font-weight: bold
    &__amount
      display: block
      font-size: 1.6em
      margin-bottom 1.875em // 30px
      & strong
        font-weight: bold
        color color-pink
    &__account-number
      display: inline-block
      font-weight: bold
      padding .7rem 2rem
      font-size: 2em
      letter-spacing 1px
      border 1px solid color-pink
      margin-bottom 3rem
    &__communication
      display: block
      font-size: 1.6em
      margin-bottom: 2.275em // 30px
    &__confirm
      position: relative
      right -50px
      display block
      font-size: 1.6em
      font-weight: 100
      max-width: 33.5rem
      line-height 1.5em
      margin: 0 auto
      text-align left
      & strong
        font-weight: normal
    &__confirm:before
      content ""
      display: inline-block
      width 41px
      height 38px
      {warning}
      background-repeat no-repeat
      position: absolute
      left -55px
      top 7px
    &__exit
      display inline-block
      cursor: pointer
      position absolute
      top -15px
      right -15px
.clickplan__exit__svg
  transition transform .3s ease
.clickplan__exit:hover .clickplan__exit__svg
  transform: rotate(90deg);
  transition transform .3s ease


.payementnormal--clicked
.payementsoutien--clicked
  .payement
    position: absolute;
    z-index 1000
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    .clickplan.clickplannormal
    .clickplan.clickplansoutien
      position: absolute
      top: 60%
      margin-left: auto
      margin-right: auto
      left: 0
      right: 0
      transform: translateY(-50%)

.payementnormal--clicked
  .payement
    .clickplan.clickplansoutien
      display none

.payementsoutien--clicked
  .payement
    .clickplan.clickplannormal
      display none


/************************************\
  RESPONSIVE
\************************************/

@media screen and ( max-width: 628px )
  .mag-content__title
    font-size: 2.6em
  .mag-content__author
    right 0
    left 0
    margin-left auto
    margin-right auto
  .mag-content__profession
    text-align: center
    position static
  .mag-content__receivemoney
    font-size: 2.6em;
  .choose-plan__title-main
    font-size: 2.4em
  .choose-plan__wrap
    display block
    padding 0
  .choose-plan__normal
    margin-bottom 6em
  .payementnormal--clicked
  .payementsoutien--clicked
    .clickplan
      max-width 87%
      &__amount
      &__communication
      &__account-number
        line-height 1.4
      &__confirm
        position static
        text-align: center
        &:before
          position: static
          display: block
          margin: 0 auto 15px auto
