doctype html
html(lang='fr')
    head
        title Contactez-nous - Liège
        include template/_meta.pug
    body.no-js.no-main.contact
        header.header
            div.header__wrap-title
                h1.header__title(aria-level="1") Espace P… - Notre manifeste
            include template/_header
        div.site-content
            main
                div.contact-top-wrap
                    ol.breadcrumb(itemscop itemtype="http://data-vocabulary.org/Breadcrumb")
                        li.breadcrumb__link(itemprop="title")
                            a.breadcrumb__link__text.breadcrumb__link__text--home(itemprop="link" href="index.html" title="Aller vers l’accueil")
                                span.breadcrumb__link__text--hidden Accueil
                        li.breadcrumb__link(itemprop="title")
                            a.breadcrumb__link__text(itemprop="link" href="#") Contactez-nous - Liège
                    nav.contact-list
                        h2.contact-list__title Choisissez votre ville
                        div.contact-list__wrap
                            a.contact-list__item(href="contactliege.html" title="Vers la page d’Espace P… Liège")
                                span Espace P… Liège
                            a.contact-list__item.contact-list__item--active(href="contactbruxelles.html" title="Vers la page d’Espace P… Bruxelles")
                                span Espace P… Bruxelles
                            a.contact-list__item(href="contactbruxelles.html" title="Vers la page d’Espace P… Bruxelles")
                                span Espace P… Namur
                        div.contact-list__wrap
                            a.contact-list__item(href="contactbruxelles.html" title="Vers la page d’Espace P… Bruxelles")
                                span Espace P… Charleroi
                            a.contact-list__item(href="contactbruxelles.html" title="Vers la page d’Espace P… Bruxelles")
                                span Espace P… Mons
                            a.contact-list__item(href="contactbruxelles.html" title="Vers la page d’Espace P… Bruxelles")
                                span Espace P… Arlon
                    section.team
                        h2.team__title L’équipe de Bruxelles
                        div.team__person__wrap
                            div.team__person__row
                                section.team__person
                                    figure.team__person__figure
                                        img.team__person__img(src="./images/mmagdala.png" width="115" height="115" alt="Photo de Marie de Magdala" srcset="./images/mmagdala@2x.png, 2x")
                                        figcaption.team__person__details
                                            h3.team__person__title Marie de Magdala
                                            p.team__person__paragraph Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
                                section.team__person
                                    figure.team__person__figure
                                        img.team__person__img(src="./images/jangegardien.png" width="115" height="115" alt="Photo de Joséphine Ange-Gardien" srcset="./images/jangegardien@2x.png, 2x")
                                        figcaption.team__person__details
                                            h3.team__person__title Joséphine Ange-Gardien
                                            p.team__person__paragraph Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
                                section.team__person
                                    figure.team__person__figure
                                        img.team__person__img(src="./images/qdelcourt.png" width="115" height="115" alt="Photo de Quentin Delcourt" srcset="./images/qdelcourt@2x.png, 2x")
                                        figcaption.team__person__details
                                            h3.team__person__title Quentin Delcourt
                                            p.team__person__paragraph Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression



                a.maps(href="https://www.google.be/maps/place/Espace+p...+Asbl/@50.6434524,5.5734331,17z/data=!4m13!1m7!3m6!1s0x47c0fa0eea904019:0xbf91a142d6e5adad!2sRue+Souverain+Pont+50,+4000+Li%C3%A8ge,+Belgique!3b1!8m2!3d50.6434524!4d5.5756218!3m4!1s0x47c0fa0eeaf2600d:0x57b2f2f122d7eb3c!8m2!3d50.6434448!4d5.5755642" title="Vers Google Maps" rel="external" target="_blank")
                    div.maps__img
                        span.maps__button Aller vers Google Maps

                div.contact-bottom-wrap
                    section.details
                        h2.details__title Contactez Espace P… Bruxelles
                        div.details__wrap-global
                            div.details__wrap-left
                                p.details__paragraph N’hésitez pas à prendre contact avec nous pour toute requêtes ou informations. Nous sommes à votre disposition pour vous venir en aide.
                                span.details__subtitle Adresse
                                span.details__subtext 50, Rue Souverain-Pont, 4000 - Liège
                                span.details__subtitle Téléphone
                                span.details__subtext 04 221 05 09
                                span.details__subtitle Fax
                                span.details__subtext 04 221 11 55
                            div.details__wrap-right
                                form.form
                                    div.form__top
                                        div.form__name
                                            label.form__name__label(for="name") Votre nom
                                            input.form__name__input(type="text" id="name" name="name" placeholder="Votre nom" required)
                                        div.form__email
                                            label.form__email__label(for="email") Votre email
                                            input.form__email__input(type="email" id="email" name="email" placeholder="Votre email" required)
                                    div.form__middle
                                        div.form__subject
                                            label.form__subject__label(for="subject") Votre sujet
                                            input.form__subject__input(type="text" id="subject" name="subject" placeholder="Le sujet de votre message" required)
                                    div.form__bottom
                                        div.form__message
                                            label.form__message__label(for="message") Votre message
                                            textarea.form__message__input(id="message" name="message" placeholder="Votre message" required)

                                    input.form__submit(type="submit" value="Envoyer le message")

            include template/_footer.pug
            include template/_scripts.pug




