doctype html
html(lang='fr')
    head
        title Espace P…
        include template/_meta.pug
    body.no-js
        header.header
            div.header__wrap-title
                h1.header__title(aria-level="1") Espace P…
                span.header__subtitle Pour une approche plus juste des métiers du sexe
            nav.menu.menu-home
                h2.menu__title Menu de navigation
                div.menu__wrap
                    div.menu__icon__wrap
                        input.menu__icon#menu__icon(type="checkbox")
                        label.menu__icon__label#menu__icon__label(for="menu__icon")
                            span
                    ul.menu__list
                        li.menu__item
                            a.menu__link.menu__logo.menu__item0(href="index.html") Accueil
                            a.menu__link.menu__item1(href="souteneznotreaction.html") Soutenez notre action
                            a.menu__link.menu__item2(href="#") Nos partenaires
                            a.menu__link.menu__item3(href="manifeste.html") Notre manifeste
                            a.menu__link.menu__item4(href="contactliege.html") Contactez-nous
            form.menu__search(action="index.php" method="get")
                label.menu__search__label(for="search")
                input.menu__search__input(type="search" id="search" required placeholder="Rechercher")
                input.menu__search__submit(type="image" name="image" src="./images/svg/search.svg" width="37" height="37")

            nav.submenu
                h2.submenu__title Choisissez votre profile
                a.submenu__link.submenu__link--sexworker(href="#" title="Aller vers #")
                    img.submenu__img(src="./images/button_sexworker.png" alt="Photo des jambes d’une travailleuse du sexe" srcset="./images/button_sexworker@2x.png, 2x" width="82" height="82")
                    span.submenu__text.submenu__text--sexworker Je suis travailleur du sexe
                a.submenu__sublink(href="#" title="Go to…" lang="en") I'm sex worker and I speak English
                a.submenu__link(href="#" title="Aller vers #")
                    img.submenu__img(src="./images/button_student.png" alt="Photo d’une étudiante souriante" srcset="./images/button_student@2x.png, 2x" width="82" height="82")
                    span.submenu__text Je suis un étudiant
                a.submenu__link(href="#" title="Aller vers #")
                    img.submenu__img(src="./images/button_curieux.png" alt="Photo d’une personne sympathisante" srcset="./images/button_curieux@2x.png, 2x" width="82" height="82")
                    span.submenu__text Je suis un sympathisant
                a.submenu__link(href="jesuisunclient.html" title="Aller vers #")
                    img.submenu__img(src="./images/button_client.png" alt="Photo d’une personne vue de derrière portant une capuche" srcset="./images/button_client@2x.png, 2x" width="82" height="82")
                    span.submenu__text Je suis un futur client

        main
            div.wrap-top
                section.last-article
                    h2.last-article__title Notre dernier article
                    a.last-article__link(href="article.html" title="Vers l’article")
                        article.article
                            div.article__wrap-text
                                span.article__category Divers
                                h3.article__title Expo de débat à Arlon&nbsp;: un regard éclairé sur la prostitution en milieu rural…
                                span.article__link Lire l'article
                            div.article__img
                section.last-facebook
                    h2.last-facebook__title Notre dernier message sur facebook
                    div.last-facebook__wrap
                        section.last-facebook__follow
                            h3.last-facebook__follow__title Suivez-nous
                            p.last-facebook__text Facebook est la manière la plus simple de rester informé sur notre activité. Suivez-nous, ça nous aide !
                            a.last-facebook__button(href="#" title="Suivre espace P… sur Facebook" rel="external") Suivre espacep
                        section.last-facebook__comment
                            h3.last-facebook__comment__title Dernier commentaire
                            time.last-facebook__comment__date(pubdate) Le 29 septembre 2016
                            div.last-facebook__comment__text-container
                                img.last-facebook__comment__img(src="./images/logo_v2.jpg" alt="Logo de espace p…" width="89" height="89")
                                p.last-facebook__comment__text Le Centre De Ressources Crhs est actuellement entrain de réaliser une étude sur l'accompagnement sexuel et la place qu'il prend au sein du paysage wallon. Ils sont à la recherche de personnes en situation de handicap qui seraient prêtes à répondre à leurs questions sous forme…
                            a.last-facebook__comment__link(href="#" title="Aller sur Facebook" rel="external")
                                | Lire la suite sur&nbsp;
                                span.last-facebook__comment__facebook Facebook
            div.quote-home
                blockquote.quote-home__quote Nous soutenons, accompagnons et défendons les milliers d’hommes, de femmes et de transgenres.
            div.wrap-bottom
                section.home-mag
                    h2.home-mag__title Nous publions un magazine
                    p.home-mag__text
                        | Quatre fois par an, nous éditons un magazine sur le milieu de la prostitution afin d’informer les lecteurs et de soutenir financièrement l’organisation.
                        br
                        | Soutenez-nous en vous abonnant.
                    a.home-mag__button(href="souteneznotreaction.html" title="Aller vers la page du magazine") S’abonner
                section.home-manifeste
                    h2.home-manifeste__title Signez notre manifeste
                    p.home-manifeste__text Montrer votre attachement à notre cause le signant !
                    a.home-manifeste__button(href="manifeste.html" title="Aller vers la page du manifeste") Lire et signer

        include template/_footer.pug
        include template/_scripts.pug
