doctype html
html(lang='fr')
    head
        title Notre statut - Espace P…
        include template/_meta.pug
    body.no-js.no-main.statut
        header.header
            div.header__wrap-title
                h1.header__title(aria-level="1") Notre statut - Espace P…
            include template/_header
        div.site-content
            main
                div.client-top-wrap
                    ol.breadcrumb(itemscop itemtype="http://data-vocabulary.org/Breadcrumb")
                        li.breadcrumb__link(itemprop="title")
                            a.breadcrumb__link__text.breadcrumb__link__text--home(itemprop="link" href="index.html" title="Aller vers l’accueil")
                                span.breadcrumb__link__text--hidden Accueil
                        li.breadcrumb__link(itemprop="title")
                            a.breadcrumb__link__text(itemprop="link" href="#") Notre statut
                section.index
                    h2.index__title Index
                    small Cliquez sur un lien pour vous rendre à la section correspondante
                    ol.index__ol
                        li
                            a.index__list-title(href="#ladénominationdusiegesocial") La dénomination du siège social
                            ol.index__ol-increment
                                li.index__li-increment
                                    a(href="#article1") Article 1
                                li.index__li-increment
                                    a(href="#article2") Article 2
                        li
                            a.index__list-title(href="#lesbutsetlobjetsocial") Les buts et l’objet social
                            ol.index__ol-increment
                                li.index__li-increment
                                    a(href="#article3") Article 3
                        li
                            a.index__list-title(href="#lesmembres") Les membres
                            ol.index__ol-increment
                                li.index__li-increment
                                    a(href="#article4") Article 4
                                li.index__li-increment
                                    a(href="#article5") Article 5
                                li.index__li-increment
                                    a(href="#article6") Article 6
                                li.index__li-increment
                                    a(href="#article7") Article 7
                                li.index__li-increment
                                    a(href="#article8") Article 8
                    ol.content
                        li.content__count
                            span.content__list-title(id="ladénominationdusiegesocial") La dénomination du siège social
                            ol.content__ol
                                li.content__li
                                    span#article1 Article 1
                                    p.content__paragraph L’association constituée pour une durée indéterminée le 3 novembre 1988 sous le nom de « Prévention Sida Prostitution» est dénommée « Espace P… » depuis le 26 novembre 1992.
                                li.content__li
                                    span#article2 Article 2
                                    p.content__paragraph Le siège social est établi en Belgique, dans l’arrondissement judiciaire de Bruxelles. Il est fixé à 1030 Bruxelles, 116 rue des Plantes.
                        li.content__count
                            span.content__list-title(id="lesbutsetlobjetsocial") Les buts et l’objet social
                            ol.content__ol
                                li.content__li
                                    span#article3 Article 3
                                    p.content__paragraph L’association a pour buts prioritaires la sensibilisation, l’information et la prévention visant à réduire la transmission du virus HIV et des autres MST parmi la population des personnes prostituées ;
                                    p.content__paragraph La formation de personnes-relais volontaires afin d’adapter au mieux l’information ;
                                    p.content__paragraph La prise en charge de tous les problèmes relatifs au dépistage volontaire ;
                                    p.content__paragraph L’accompagnement des personnes prostituées séropositives ou malades et de leur entourage en ce compris la défense de leurs intérêts matériels et juridiques ;
                                    p.content__paragraph L’étude des problèmes de santé compte tenu de leurs aspects psychosociologiques.
                                    p.content__paragraph L’association se montrera particulièrement soucieuse du respect de la liberté individuelle et de la vie privée.
                                    p.content__paragraph Elle s’opposera à toute atteinte à la dignité de la personne humaine. (Moniteur Belge du 16/03/1989).
                                    p.content__paragraph L’association élargit son intérêt vers d’autres problématiques liées au phénomène prostitutionnel : traite des êtres humains, toxicomanie, pauvreté, violence… (Moniteur Belge du 8/03/1993).
                                    p.content__paragraph L’objet social s’étend aux personnes prostituées et serveuses. L’association a pour vocation nouvelle l’émancipation et l’insertion socioprofessionnelle du public visé . (Moniteur Belge du 14/08/1997).
                                    p.content__paragraph L’asbl a pour mission de développer une action sociale globale, c’est-à-dire une action sociale qui comprenne tant une approche individuelle que collective et communautaire. L’association assure aux bénéficiaires, notamment, un accueil, une analyse de leurs situations problématiques, une orientation, un accompagnement, un suivi. Elle vise à apporter des réponses individuelles ou collectives à des problématiques elles aussi individuelles ou collectives. Elle propose une aide personnalisée mais vise également des changements sociaux qui vont dans le sens de lutter contre l’exclusion et la précarisation des personnes prostituées, à instaurer des dynamiques de solidarité et de prise de responsabilité. Elle implique des intervenants politiques, institutionnels, administratifs, associatifs et favorise la participation des bénéficiaires dans ses réflexions et actions concrètes. (Moniteur Belge du 06/04/2000).
                        li.content__count
                            span.content__list-title(id="ladénominationdusiegesocial") Les membres
                            ol.content__ol
                                li.content__li
                                    span#article4 Article 4
                                    p.content__paragraph L’association est composée de membres effectifs et de membres fondateurs également nommés «Membres d’Honneur». Seuls les membres effectifs appelés ci-après « membres » jouissent de la plénitude des droits.
                                li.content__li
                                    span#article5 Article 5
                                    p.content__paragraph Le nombre de membres ne peut être inférieur à quatre.
                                li.content__li
                                    span#article6 Article 6
                                    p.content__paragraph Les nouveaux membres adressent leur demande par écrit au conseil d’administration et sont admis par l’assemblée générale. La décision de l’assemblée générale est sans appel et ne doit pas être motivée.
                                li.content__li
                                    span#article7 Article 7
                                    p.content__paragraph Les membres peuvent démissionner à tout moment de l’association en adressant leur démission au conseil d’administration. Est réputé démissionnaire le membre qui n’assiste pas ou ne se fait pas représenter à deux assemblées générales consécutives.
                                li.content__li
                                    span#article8 Article 8
                                    p.content__paragraph L’exclusion d’un membre ne peut être prononcée que par l’assemblée générale à la majorité des deux tiers des voix des personnes présentes ou représentées.

















                include template/_footer
                include template/_scripts

